.thumb_img{
	width: 100%;
	height: 170px;
}


.link_title{
	text-align: center;
	width: 100%;
	display: block;
}	

.grid_item{
	border:1px solid #eee;
	border-radius: 3px;
	padding: 5px;
	margin-bottom: 5px;
}


.skills_logo_img{
	width: 30px;
	margin-right: 5px;
}

#logo{
	padding: 5px 15px;
	opacity: 0.8;
}

#main_nav{
	background: none;
	border: none;
	margin-top: 20px;
}

#header{
	background-image: url('../images/background.jpg');
	height: 480px;
	background-size: cover;
	z-index: 1;
	position: relative;
}

#contact{
	background-image: url('../images/contact.jpeg');
	height: 480px;
	background-size: cover;
	z-index: 1;
	position: relative;
	
}

.overlay{
	background: #000;
	width: 100%;
	height: 100%;
	opacity: 0.8
}

#main_nav a{
	color: #fff;
}

#header_content,#contact_content{
  	position: absolute;	
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%,-50%);
  	color: white;
  	opacity: 0.8;
  	text-align: center;
}

.contact_icon_img{
	margin-right: 5px;
	vertical-align: middle;
}

#contact_content a{
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.about_overlay{
	background: rgba(235,230,10,0.5);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}

#about{
	min-height: 400px;
	margin-top: 50px;
	position: relative;
	padding: 50px 0px;
}

.bg-warning {
    background-color: #f0ad4e!important;
}

.skill_list img{
	margin-right: 5px;
}	
.skill_list{
	display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.progress{
	margin-bottom: 0px;
	width: 100%;
}

#about p{
	font-weight: 700;
	font-size: 18px;
}

.skill_rating{
	width: 30px;
	margin-left: 5px;
}