@font-face {
font-family: Brandon Grotesque;
src: url('fonts/brandon-grotesque-medium-587bd623e472a.otf'); 
}
@font-face {
font-family: Brandon Grotesque;
src: url('fonts/brandon-grotesque-medium.otf'); 
}

body {
    color: #fff;
    font-family: Brandon Grotesque;
}

.wrapper {
    background: #f0940a;
    width: 300px;
    padding: 20px;
    
}
.wrapper-width {
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 1px;
}
.mora-url {
    float: left;
}
.mora-url a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}
ul {
    list-style-type: none;
    margin-left: -9px;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    font-size: 21px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0 8px;
    text-decoration: none;
}

