/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~ Variables ~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

	/* ~~~~~~~~~~ Colours ~~~~~~~~~~ */

	$primary-color: #ed1e52;


	/* ~~~~~~~~~~ Paddings ~~~~~~~~~~ */

	$element-space__xl: 75px;
	$element-space__lg: 65px;
	$element-space__md: 55px;
	$element-space__sm: 50px;
	$element-space__xs: 45px;


	/* ~~~~~~~~~~ WP Admin Bar heights ~~~~~~~~~~ */

	$mobile-wp-admin-bar-height: 46px;
  	$desktop-wp-admin-bar-height: 32px;