@charset "UTF-8";

h1, h2, h3, h4, h5 {
  font-family: 'ArgentCF-Regular',serif;
  font-weight: 400;
}
img {
  width: 100%;
  height: auto;
}
html {
  font-size: 1rem;
  -webkit-text-size-adjust: none;
  text-size-adjust: none; }

body {
  background: #eee;
  color: #4c4c4c;
  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
  width: 100% !important;
  overflow-x: hidden !important; 
  margin: 0;
}

#viewport, #viewport>#container {
    height: 100%;
    width: 100%;
    position: relative;
}

/* header part */
.cbp-af-header {
  top: 2.5vw;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 10000;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.cbp-af-header.cbp-af-header-shrink {
  top: 0;
}
.cbp-af-header .cbp-af-inner {
  background: #eee;
  color: #9f9f9f;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  height: 6.7vw;
  width: 83.4vw;
}
.cbp-af-header.cbp-af-header-shrink .cbp-af-inner {
  height: 4.7vw;
  font-size: 14px;
}
.cbp-af-header>.wrapper * {
  margin: 0;
  padding: 0;
}
.cbp-af-header .logo {
  margin-left: 2.4vw;
  height: 6.7vw;
  float: left;
  position: relative;
  z-index: 4;
  line-height: 1;
}
.cbp-af-header.cbp-af-header-shrink .logo {
  height: 4.7vw;  
}  
.cbp-af-header .logo a {
  display: block;
  height: inherit;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  text-indent: -9000px;
}
.cbp-af-header .logo img {
  width: 11vw;
  height: inherit;
}
.cbp-af-header-shrink .logo img {
  width: 8vw;
  margin-left: 28px;
}
.hidden {
  display: none !important;
}
.cbp-af-header .nav {
  top: 0;
  left: 0;
  width: 96%;
  color: #4c4c4c;
  position: absolute;
  z-index: 3;
  text-align: right;
  text-transform: uppercase;
}
nav ul, nav li {
  margin: 0;
  padding: 0;
  display: inline;
  list-style: none;
  display: inline-block;
}
.cbp-af-header .nav>ul>li {
  height: 3.5vw;
  position: relative;
}
.cbp-af-header .nav>ul>li>a {
  padding: 0 1.7vw;
  height: 6.7vw;
  line-height: 6.7vw;
  text-decoration: none;
  color: inherit;
  display: inline-block;  
} 
.search {
  vertical-align: top;
}
.fa-search {
  margin-top: 45px !important;
}
.cbp-af-header-shrink .fa-search {
  margin-top: 30px !important;
}
.cbp-af-header-shrink .nav>ul>li>a {
  padding: 0 2vw;
  height: 4.7vw !important;
  line-height: 4.7vw !important;  
} 
body.home .cbp-af-header .nav>ul li.current_page_item>a {
  background: transparent !important;
  color: inherit !important;
}
.cbp-af-header .nav>ul>li>a, .cbp-af-header .homes>ul>li>a {
  height: 6.7vw;
  line-height: 6.7vw;
}
.cbp-af-header .nav > ul > li:hover > a {
  background: #4c4c4c;
  color: #eee;
}
.cbp-af-header .nav>ul>li>a>i{
  margin-left: 8px;
}
.cbp-af-header .widget {
  height: 2.1vw;
  top: -2.5vw;
  width: 15.2vw;
  position: absolute;
  right: 0;
  text-align: center;
  z-index: 3;
}
.cbp-af-header .widget * {
  display: inline;
  line-height: 1;
}
.cbp-af-header .widget a {
  display: block;
  color: #fff;
  text-transform: uppercase;
  background: #bf1e2e;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: all .3s;
  transition: all .3s;
  line-height: 2.1vw;
  font-size: 14px;
  text-decoration: none;
}
.cbp-af-header .widget a:hover {
  background: #4c4c4c;
  color: #f3f3f3;
}
.cbp-af-header .widget i {
  display: inline-block;
  vertical-align: baseline;
}
#page {
  height: 100%;
  width: 100%;
  background: #fff;
}
#main {
  position: relative;
  z-index: 1;
  width: 100% !important;
  overflow-x: hidden !important;
}
#content {
  overflow: visible;
  z-index: 2;
  position: relative;
}
.panel-grid {
  background-color: #eee;
}
#pg-6-0, #pg-6-1, #pl-6 .so-panel, #pl-6 .so-panel:last-child {
  margin-bottom: 0;
}
#pg-6-0.panel-has-style>.panel-row-style {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
#pgc-6-0-0, #pgc-6-1-0, #pgc-6-2-0 {
  width: 100%;
  width: calc(100% - (0*-50px));
}
.panel-grid-cell {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.panel-grid-cell .so-panel {
  zoom: 1;
}
.widget {
  position: relative;
}
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
}
.owl-carousel .owl-stage {
  position: relative;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#pg-w59e5f07586b5c-0>.panel-row-style {
  background-image: url(https://www.executivehomes.com/wp-content/uploads/CoverOct172.0.jpg) !important;
  background-position: center center;
  background-size: cover;
  height: 48.1vw;
  max-height: 48.1vw;
  min-height: 92vh;
}


#pg-w59e5f07586b5c-1>.panel-row-style {
  background-image: url(https://www.executivehomes.com/wp-content/uploads/Cover3Oct17.jpg) !important;
  background-position: center center;
  background-size: cover;
  height: 48.1vw;
  max-height: 48.1vw;
  min-height: 92vh;
}

#pg-w59e5f07586b5c-2>.panel-row-style {
  background-image: url(https://www.executivehomes.com/wp-content/uploads/Cover2Oct17.jpg) !important;
  background-position: center center;
  background-size: cover;
  height: 48.1vw;
  max-height: 48.1vw;
  min-height: 92vh;
}
#main .hero {
  color: #eee;
  text-align: center;
  background-position: 50%;
}
.panel-grid.panel-no-style, .panel-grid.panel-has-style>.panel-row-style {
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: nowrap;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.vblock>* {
  display: table !important;
  height: 100% !important;
  min-height: inherit !important;
  width: 94% !important;
  overflow: hidden !important;
}
.owl-carousel .owl-controls .owl-nav .owl-prev, .owl-carousel .owl-controls .owl-nav .owl-next, .owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-dots {
  height: 0;
}
.owl-dot {
  display: inline-block;
  margin: 0 .25rem;
  background: #eee;
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  position: relative;
  top: -2rem;
  text-align: center;
}
.owl-dot.active {
  background: #fbac4d;
}
#main .touts {
  padding: 4.8vw 0;
}
#main .touts .panel-grid-cell {
  width: 83.4vw;
  margin: 0 auto;
}
#main .widget_organi_tout {
  height: 20.9vw;
  width: 27vw;
  margin: 0;
  display: block;
  float: left;
  position: relative;
  background: #4c4c4c;
}
#main .tout, #main .tout>a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
#main .tout {
  background-size: 101% auto;
}
#main .tout>a:hover:before {
  opacity: 1;
}
#main .tout>a:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  display: block;
  content: " ";
}
#main .tout .text {
  height: 15.5vw;
  padding: 0 1.8vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  margin: 0;
  padding: 0;
  width: 100%;
}
#main .tout .text .vblock {
  height: 100%;
}
#main .tout .text .block {
  float: right;
  text-align: left;
}
.vblock>*>*{
      display: table-cell !important;
      vertical-align: middle !important;
}
.vblock>*>*>* {
  position: initial !important;
}
#main .tout .text h2 {
  font-size: 1.66rem;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 400;
}
#main .tout .text h2, #main .tout .text .description {
  margin: 0;
  padding: .33rem 0 0 0;
  color: #f3f3f3;
  font-size: 1.66rem;
  text-transform: uppercase;
  line-height: 1;
}
#main .tout .text .description {
  font-size: .66rem;
}
#main .tout .text h2 strong {
  font-size: 2.97rem;
  color: #fbac4d;
  display: block;
}
#main .tout .text h2 i {
  vertical-align: middle;
}
#main .tout a>h2 {
  font-size: 2rem;
  height: 5.4vw;
  line-height: 5.4vw;
  font-weight: 300;
}
#main .tout a>h2, #main .tout .button {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  background: #777;
  color: #f3f3f3;
  text-transform: uppercase;
  font-family: 'Open Sans',sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 5.4vw;
  line-height: 5.4vw;
}
#main .tout .btn {
  padding: 3% 9%;
  vertical-align: inherit;
}
#main .hero .btn, #main .tout .btn {
  color: #eee;
  background-color: transparent;
  position: relative;
  z-index: 2;
  font-size: 1.25rem;
  border-width: .2vw;
  border: 2px solid #eee;
  line-height: 1;
  font-weight: 100;  
  margin-top: 20px;
}
.btn, input[type=submit] {
  padding: 1vw 2vw;
  border-width: .2vw;
  font-size: 1.25rem;
  display: inline-block;
  border: 2px solid #eee;
  line-height: 1;
  text-transform: uppercase;
  transition: all .3s;
  font-weight: 100;
  text-decoration: none;
  color: #4c4c4c;
  border: 2px solid #4c4c4c;
}
.btn:hover, input[type=submit]:hover {
  background: #4c4c4c;
  color: #f3f3f3;
}
#main .hero .btn:hover, #main .tout .btn:hover {
  color: #4c4c4c !important;
  background-color: #eee !important;
}
#main .widget_organi_tout:nth-child(even) {
  margin: 0 1.2vw;
}
#main .hero .textwidget {
  display: inline-block;
  position: relative;
  padding: 0 31px;
}

#main .hero.v1 h2 {
  font-size: 4.01rem;
  font-weight: 400 !important;
  font-style: none !important;
  line-height: .85;
  color: #b2b2b2;
  text-align: left;
  position: relative;
  font-family: 'Alex Brush',cursive;
  margin-top: 6.7vw;
}
#main .hero.v1 h2:after {
  display: block;
  content: " ";
  position: absolute;
  bottom: .75rem;
  right: .25rem;
  z-index: 1;
  width: 57%;
  height: 2px;
  background: #fbac4d;
}
#main .hero.v1 h2, #main .hero h3 {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  line-height: 1;
  position: relative;
  z-index: 2;
}
#main .hero h3 {
  font-size: 7.2rem;
  margin-bottom: .5em;
  margin-top: 0;
  white-space: nowrap;
}
#main .hero h3 sup {
  font-family: 'Open Sans',sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: 14%;
  line-height: 1;
  margin: 0;
  color: #eee;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: bottom;
  padding-left: .25rem;
}
#main .tout a>h2>strong {
  color: #fbac4d;
  font-size: inherit;
  font-weight: 700;
}
#pg-6-2>.panel-row-style {
  background-image: url(https://www.executivehomes.com/wp-content/uploads/home-section.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

#main .home-1 .so-widget-sow-editor {
  width: 71.7vw;
  margin: 0 auto;
}
#main .home-1 h2, #content.details h2.entry-title {
  font-size: 2.48rem;
  font-family: 'ArgentCF-Regular',serif;
  font-weight: 400;
}
#main .home-1 h2, #main .home-1 h3, #content.details h2.entry-title, #content.details h2.entry-title~h3 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
}
#main .home-1 h3, #content.details h2.entry-title~h3, article.blog-post.tours h3 i:before {
  font-size: 1.94rem;
}
#main .home-1 h3, #content.details h2.entry-title~h3 {
  color: #777;
  margin-bottom: 1.83em;
  position: relative;
}
#main .home-1 h3:before, #content.details h2.entry-title~h3:before {
  left: 0;
}
#main .home-1 h3:after, #content.details h2.entry-title~h3:after {
  right: 0;
}
#main .home-1 h3:before, #main .home-1 h3:after, #content.details h2.entry-title~h3:before, #content.details h2.entry-title~h3:after {
  height: .2vw;
  margin-top: -.1vw;
  display: block;
  content: " ";
  position: absolute;
  top: 50%;
  margin-top: -1px;
  z-index: 1;
  width: 36%;
  height: 2px;
  background: #bf1e2e;
}
#main .home-1 .more {
  display: none;
}
#main .home-1 .btn {
  margin-top: 1.83em;
}
.clearfix:after {
  clear: both;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
#content~*, #content>* {
  z-index: 1;
  position: relative;
}
#footer {
  padding: 9.1vw 0 8vw 0;
  background: #4c4c4c;
  color: #9f9f9f;
}
a.social {
  border: none !important;
}
a.social i {
  /* color: #bf1e2e !important; */
}
a.social i:hover {
  cursor: pointer;
  color: #fff !important;
}
#site-info {
  background: #262626;
  color: #717171;
  line-height: 1em;
  padding: 2.3vw 0 1.8vw 0;
}
#site-info * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  color: #777;
  text-decoration: none;
}
#site-info a:hover{
  color: #fff;
}
#footer .wrapper, #site-info .wrapper {
  width: 80vw;
  margin: 0 auto;
  position: relative;
}
#footer .social {
  width: 16.2vw;
  padding-top: 3.3vw;
  float: left;
  position: relative;
  text-align: center;
}
#footer .social h2 {
  margin: 0;
  font-size: 1.13rem;
  height: 3.3vw;
  line-height: 3.3vw;
  top: -.15vw;
  background: #777;
  color: #eee;
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  text-transform: uppercase;
  font-family: 'Open Sans',sans-serif;
  font-weight: 100;
}
#footer .social>ul {
  padding: 3.4vw 0 3.7vw 0;
  margin-top: .15vw;
  display: block;
  font-size: 39px;
}
#footer .social>ul>li>a {
  display: inline-block;
  color: #eee;
  margin-left: 27px;
}
#footer .nav {
  width: 63.8vw;
  float: left;
}
#footer .nav>ul {
  padding-bottom: .66vw;
  display: block;
}
#footer .nav>ul>li {
  padding: 2.6vw 0 2.1vw 5.7vw;
  display: block;
  float: left;
  width: 24.3%;
}
#footer .nav>ul>li>a {
  padding-bottom: .66vw;
  text-transform: uppercase;
  display: block;
  font-size: 20px;
  text-decoration: none;
  color: #777;
  font-family: ArgentCF-Regular;
}
#footer .nav>ul>li>ul>li {
  display: block;
  line-height: 1.6;
  padding-bottom: .66vw;
  text-transform: uppercase;
  font-family: ArgentCF-Regular;
}
#footer .nav>ul a:hover{
  color: #fff;  
}
#footer .nav>ul>li>ul>li>a {
  font-size: .75rem;
  display: block;
  padding-bottom: .66vw;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  color: #777;
  font-family: ArgentCF-Regular;
}
#footer .wrapper {
  border-top-width: .2vw;
  border-top: 3px solid #777;
  border-bottom-width: .2vw;
 border-bottom: 2px solid #777;
}
#footer .wrapper.badges {
  border: 0 !important;
  text-align: center;
}
#footer .badge {
  width: 5.75em;
  display: inline-block;
  vertical-align: middle;
  margin: 2.6vw 1.2vw -39px 1.2vw;
}
#site-info .copyright, #site-info .nav {
  display: inline;
  float: left;
}
#site-info .nav>ul {
  margin-left: 6.9vw;
  display: block;
  float: left;
}
#site-info .nav>ul>li>a {
  display: inline-block;
  padding: 0 10px;
  border-left: 1px solid #7c776e;
}
#site-info .nav>ul>li:first-child>a {
  padding-left: 0;
  border-left: 0;
}