@charset "UTF-8";

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
}
img {
  width: 100%;
  height: auto;
}
html {
  font-size: 1rem;
  -webkit-text-size-adjust: none;
  text-size-adjust: none; }

body {
  background: #4c4c4c;
  color: #4c4c4c;
  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
  width: 100% !important;
  overflow-x: hidden !important; 
  margin: 0;
}

#viewport, #viewport>#container {
    height: 100%;
    width: 100%;
    position: relative;
}

/* header part */
.cbp-af-header {
  top: 2.5vw;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 10000;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.cbp-af-header.cbp-af-header-shrink {
  top: 0;
}
.cbp-af-header .cbp-af-inner {
  background: #eee;
  color: #9f9f9f;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  height: 6.7vw;
  width: 83.4vw;
}
.cbp-af-header.cbp-af-header-shrink .cbp-af-inner {
  height: 4.7vw;
  font-size: 14px;
  -webkit-box-shadow: 0 3px 5px #cccccc;
  -moz-box-shadow: 0 3px 5px #cccccc;
  box-shadow: 0 3px 5px #cccccc;
}
.cbp-af-header>.wrapper * {
  margin: 0;
  padding: 0;
}
.cbp-af-header .logo {
  margin-left: 2.4vw;
  height: 6.7vw;
  float: left;
  position: relative;
  z-index: 4;
  line-height: 1;
}
.cbp-af-header.cbp-af-header-shrink .logo {
  height: 4.7vw;  
}  
.cbp-af-header .logo a {
  display: block;
  height: inherit;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  text-indent: -9000px;
}
.cbp-af-header .logo img {
  width: 11vw;
  height: inherit;
}
.cbp-af-header-shrink .logo img {
  width: 8vw;
  margin-left: 28px;
}
.hidden {
  display: none !important;
}
.cbp-af-header .nav {
  top: 0;
  left: 0;
  width: 96%;
  color: #4c4c4c;
  position: absolute;
  z-index: 3;
  text-align: right;
  text-transform: uppercase;
}
nav ul, nav li {
  margin: 0;
  padding: 0;
  display: inline;
  list-style: none;
  display: inline-block;
}
.cbp-af-header .nav>ul>li {
  height: 3.5vw;
  position: relative;
}
.cbp-af-header .nav>ul>li>a {
  padding: 0 1.7vw;
  height: 6.7vw;
  line-height: 6.7vw;
  text-decoration: none;
  color: inherit;
  display: inline-block;  
} 
.search {
  vertical-align: top;
}
.fa-search {
  margin-top: 54px !important;
}
.cbp-af-header-shrink .fa-search {
  margin-top: 36px !important;
}
.cbp-af-header-shrink .nav>ul>li>a {
  padding: 0 2vw;
  height: 4.7vw !important;
  line-height: 4.7vw !important;  
} 
body.home .cbp-af-header .nav>ul li.current_page_item>a {
  background: transparent !important;
  color: inherit !important;
}
.cbp-af-header .nav>ul>li>a, .cbp-af-header .homes>ul>li>a {
  height: 6.7vw;
  line-height: 6.7vw;
}
.cbp-af-header .nav>ul>li:hover>ul.sub-menu, .cbp-af-header .nav>ul>li.hover>ul.sub-menu {
  display: block;
}
.cbp-af-header .nav>ul>li>ul.sub-menu {
  position: absolute;
  left: 0;
  background: #59595b;
  color: #9f9f9f;
  z-index: 1;
  text-align: left;
  display: none;
  width: 165%;
  opacity: 0.95;
}
.cbp-af-header .nav>ul>li:hover>ul.sub-menu *, .cbp-af-header .nav>ul>li.hover>ul.sub-menu * {
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: #eee;
}
.cbp-af-header .nav>ul>li>ul.sub-menu>li>a {
  height: 4.6vw;
  line-height: 4.6vw;
  padding: 0 1.7vw;
  display: block;
}
.cbp-af-header .nav>ul>li>ul.sub-menu>li:hover>a{
  background: #4f4e4e;
  color: #eee;
}
.cbp-af-header .nav > ul > li:hover > a {
  background: #59595b;
  color: #eee;
  opacity: 0.9;
}

.cbp-af-header .nav>ul>li>a>i{
  margin-left: 8px;
}
.cbp-af-header .widget {
  height: 2.1vw;
  top: -2.5vw;
  width: 15.2vw;
  position: absolute;
  right: 0;
  text-align: center;
  z-index: 3;
}
.cbp-af-header .widget * {
  display: inline;
  line-height: 1;
}
.cbp-af-header .widget a {
  display: block;
  color: #fff;
  text-transform: uppercase;
  background: #bf1e2e;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: all .3s;
  transition: all .3s;
  line-height: 2.1vw;
  font-size: 14px;
  text-decoration: none;
}
.cbp-af-header .widget a:hover {
  background: #4c4c4c;
  color: #f3f3f3;
}
.cbp-af-header .widget i {
  display: inline-block;
  vertical-align: baseline;
}
#page {
  height: 100%;
  width: 100%;
  background: #fff;
}
#main {
  position: relative;
  z-index: 1;
  width: 100% !important;
  overflow-x: hidden !important;
}
.clearfix:after {
    clear: both;
}
.clearfix:before, .clearfix:after {
content: " ";
display: table;
}

/* footer part */
#footer {
    padding: 9.1vw 0 8vw 0;
    background: #4c4c4c;
    color: #9f9f9f;
  }
  a.social {
    border: none !important;
  }
  
  a.social i {
    /* color: #bf1e2e !important; */
  }
  a.social i:hover {
    cursor: pointer;
    color: #fff !important;
  }
  ul.phone {
    font-size: 18px !important;
    text-align: left;
    padding: 0 !important;
    font-family: 'Open Sans',sans-serif !important;
  }
  .phone_call {
    display: block;
  }
  .phone_call h3 {
    margin: 0;
  }
  .phone_num a {
    color: #fff !important;
    margin-left: 0 !important;
    text-decoration: none;
    font-size: 25px;
  }
  #site-info {
    background: #262626;
    color: #717171;
    line-height: 1em;
    padding: 2.3vw 0 1.8vw 0;
  }
  #site-info * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    color: #777;
    text-decoration: none;
  }
  #site-info a:hover{
    color: #fff;
  }
  #footer .wrapper, #site-info .wrapper {
    width: 80vw;
    margin: 0 auto;
    position: relative;
  }
  #footer .social {
    width: 16.2vw;
    padding-top: 3.3vw;
    float: left;
    position: relative;
    text-align: center;
  }
  #footer .social h2 {
    margin: 0;
    font-size: 1.13rem;
    height: 3.3vw;
    line-height: 3.3vw;
    top: -.15vw;
    background: #777;
    color: #eee;
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    text-transform: uppercase;
    font-family: 'Open Sans',sans-serif;
    font-weight: 100;
  }
  #footer .social>ul {
    padding: 3.4vw 0 3.7vw 0;
    margin-top: .15vw;
    display: block;
    font-size: 39px;
  }
  #footer .social>ul>li>a {
    display: inline-block;
    color: #a8a7a7;
  }
  #footer .social>ul>li>a>i:hover{
    color: #eee;
  } 
  #footer .nav {
    width: 63.8vw;
    float: left;
  }
  #footer .nav>ul {
    padding-bottom: .66vw;
    display: block;
  }
  #footer .nav>ul>li {
    padding: 2.6vw 0 2.1vw 5.7vw;
    display: block;
    float: left;
    width: 24.3%;
  }
  #footer .nav>ul>li>a {
    padding-bottom: .66vw;
    text-transform: uppercase;
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: #a8a7a7;
  }
  #footer .nav>ul>li>ul>li {
    display: block;
    line-height: 1.6;
    padding-bottom: .66vw;
    text-transform: uppercase;
  }
  #footer .nav>ul a:hover{
    color: #fff;  
  }
  #footer .nav>ul>li>ul>li>a {
    font-size: .75rem;
    display: block;
    padding-bottom: .66vw;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    color: #a8a7a7;
  }
  #footer .wrapper {
    border-top-width: .2vw;
    border-top: 3px solid #777;
    border-bottom-width: .2vw;
   border-bottom: 2px solid #777;
  }
  #footer .wrapper.badges {
    border: 0 !important;
    text-align: center;
  }
  
  #footer .badge {
    width: 5.75em;
    display: inline-block;
    vertical-align: middle;
    margin: 2.6vw 1.2vw -39px 1.2vw;
  }
  #footer .footer_logo{
    width: 127px;
    float: left;
  } 
  .text p{
    text-align: center;
    color: #fff;
  }
  #site-info .copyright, #site-info .nav {
    display: inline;
    float: left;
  }
  #site-info .nav>ul {
    margin-left: 13.5vw;
    display: block;
    float: left;
  }
  #site-info .nav>ul>li>a {
    display: inline-block;
    padding: 0 10px;
    border-left: 1px solid #7c776e;
  }
  #site-info .nav>ul>li:first-child>a {
    padding-left: 0;
    border-left: 0;
  }
  #modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    z-index: -1;
    -webkit-overflow-scrolling: touch;
    color: #eee;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0.88);
    transform: scale(0.9);
    -webkit-transition: -webkit-transform .2s,opacity .2s,visibility 0s .2s;
    transition: transform .2s,opacity .2s,visibility 0s .2s;
  } 
  #modal.search {
    background: rgba(0,0,0,0.88);
  }
  #modal.active {
    z-index: 10000;
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform .4s,opacity .4s;
    transition: transform .4s,opacity .4s;
    position: fixed;
    max-height: 100%;
    overflow-y: auto;
    
  }
  #modal .search {
    width: 100%;
    background: rgba(0,0,0,0);
    margin: 33vh auto 0 auto;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
  }
  #modal .search .close {
    right: 3.7vw;
  }
  #modal .close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: inherit;
    display: block;
    z-index: 1;
    line-height: 1;
    color: #fbac4d;
  }
  .material-icons {
    font-size: 40px !important;
  }
  #modal .search .blog-form {
    padding: 3.9vw;
  }
  .dark .ginput_container {
    margin-top: 1.83em;
    position: relative;
  }
  .dark .ginput_container_search:before, .dark .ginput_container_select:before {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    text-align: center;
    font-family: "executive-homes" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    color: #fbac4d;
    line-height: 3.9vw;
    width: 3.9vw;
  }
  .dark .ginput_container input[type=text], .dark .ginput_container input[type=email], .dark .ginput_container textarea, .dark .ginput_container select {
    border-width: .15vw;
    width: 100%;
      background: transparent;
      display: block;
      font-family: 'Open Sans',sans-serif;
      color: #eee;
      border: 2px solid #fbac4d;
      vertical-align: middle;
      border-radius: 0;
      line-height: 3.9vw;
      font-size: 24px;
      padding-left: 20px;
  }
  
  
  
  /* back-top */
  .scroll_top {
    bottom: .5em;
    right: .5em;
    color: #ffffff;
    background: #18bc9c;
    display: none;
    opacity: 0.75;
    z-index: 11;
    padding: .5em .5em .25em;
    position: fixed;
    width: 25px;
    height: 25px;
    text-decoration: none;
    transition: all ease .3s;
    text-align: center;
    border-radius: 3px;
  }
  .scroll_top:hover {
    opacity: 1;
    transition: all ease .3s;
  }
  
  
  /* ///////////////////////// About page ///////////////////// */
  
  #main .about_banner{
    background-image: url(../images/about/banner2.png);
    background-size: cover;
    height: 33.1vw;
    max-height: 40.1vw;
    min-height: 67vh;
  }
  #main .about_banner .about_textwidget{
    text-align: center;
    vertical-align: middle;
    width: 50%;
    margin: 0 auto; 
  }
  .about_textwidget h2{
    padding-top: 24%;
    font-size: 34px;
    color: #bf1f2f;
    font-weight: bold;
    margin: 0;
  }
  .about_textwidget h3{
    font-size: 43px;
    color: #5f5f5f;
    font-weight: 600;
    margin-top: 0;
    padding-top: 14px;
  }
  .about_textwidget p{
    font-size: 30px;
    color: #bf1f2f;
    font-weight: 600;
    padding-top: 14%;
  }
  #main .text-area{
    background-color:#fff;
    padding: 20px 5% 40px;
  }
  .text-area .text-box{
      margin-top: 22px;
  }
  #main .text-area h2{
    border-bottom: 1px solid #bf1f2f;
    padding-bottom: 13px;
    width: 93%;
    margin: 31px auto;
  }
  #main .text-area h3{
    line-height: 2;
    font-size: 16px;
    padding-top: 10px;
    width: 94%;
    margin: 0 auto;
  }
  #main .text-area p{
    font-weight: 700;
    font-size: 20px;
    border-bottom: 1px solid #c4c4c4;
    padding-bottom:45px;
    padding-left: 3%;
  }
  .text-area .text-box{
    overflow: hidden;
  }
  .text-box .quote1{
      float: left;
      width: 3%;
  }
  .text-box .text-content {
      width: 94%;
      float: left;
  }
  .text-box .quote2{
    float: right;
    width: 3%;
 }
 .pagination {
    display: inline-block;
    margin-left: 6%;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #4c4c4c;
    color: white;
    border: 1px solid #4c4c4c;
}
