/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~ Fancybox ~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.fancybox-inner {
    .fancybox-toolbar {
        @include admin-sticky-fix();
    }

    .fancybox-slide {
        &--video {
            .fancybox-content {
                height: 320px;
                width: 480px;
                max-width: 90%;

                @include media-breakpoint-up(sm) {
                    height: 337.5px;
                    width: 600px;
                }

                @include media-breakpoint-up(md) {
                    width: 854px;
                    height: 480px;
                }

                @include media-breakpoint-up(lg) {
                    width: 1280px;
                    height: 720px;
                }
            }
        }
    }
}